// Custom styles.

.header {
    background: #373277;
}

.headband {
    background: #373277;
}

.header-inner {
    padding-top: 0px;
    padding-bottom: 0px;
}

.header-inner {
    width: 100%;
}

.brand{
    background-color: rgba(255, 255, 255, 0);
    margin-top: 15px;
    padding: 0px;
}

.site-subtitle {
  color: #fff;
}

.menu {
    background: #e3e3e3;
}

.posts-expand .post-title {
    text-align: left;
    //+mobile() { text-align: center; }
}

.post-title .post-meta {
    text-align: left;
    //+mobile() { text-align: center; }
  }

.posts-expand .post-meta {
    text-align: left;
    //+mobile() { text-align: center; }
}

.post-body img { margin: 0; }
